doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Emoji
    link(rel='stylesheet' href='./style.css')
  body
    .page: .app
      .head
        ._layer: .gradient
        ._layer: .face ಥ益ಥ
