$yellow: mix(yellow, white);

* {
  position: relative;
}

html, body, .page {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(15, 17, 19), rgb(31, 33, 35));
}

.page {
  display: flex;
}

.app {
  display: flex;
  margin: auto;
}

.head, .gradient {
  border-radius: 50%;
  margin: 48px;
}

.head {
  display: flex;
  width: 256px;
  height: 256px;
  background: orange;
  box-shadow: 0 8px 32px 0 rgba(black, 0.5);
}

.gradient {
  width: 87.5%;
  height: 75%;
  margin: 4px auto;
  background: linear-gradient($yellow, transparent);
}

.face {
  margin: auto;
  font-size: 64px + 16px;
  line-height: 1;
  text-shadow: 0 4px 0 rgba($yellow, 0.5);
  
  &.-kitty {
    text-align: center;
    margin: auto -96px auto -32px;
  }
}

._layer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}