[submodule "demos/h8ball"]
	path = demos/h8ball
	url = https://github.com/dustin-demos/h8ball.git
[submodule "demos/roguelike"]
	path = demos/roguelike
	url = https://github.com/dustin-demos/roguelike.git
[submodule "demos/resize"]
	path = demos/resize
	url = https://github.com/dustin-demos/resize.gg.git
[submodule "demos/currency"]
	path = demos/currency
	url = https://github.com/dustin-demos/currency.git
[submodule "demos/state-sync"]
	path = demos/state-sync
	url = https://github.com/dustin-demos/state-sync-demo.git
[submodule "demos/reasonable"]
	path = demos/reasonable
	url = https://github.com/dustin-demos/reasonable.git
[submodule "demos/valorant"]
	path = demos/valorant
	url = https://github.com/dustin-demos/valorant-editor.git
[submodule "demos/clickmart"]
	path = demos/clickmart
	url = https://github.com/dustin-demos/clickm.art.git
[submodule "demos/notes"]
	path = demos/notes
	url = https://github.com/dustin-demos/notes.git
[submodule "demos/discord-queue"]
	path = demos/discord-queue
	url = https://github.com/dustin-demos/discord-message-queue.git
