[submodule "demos/h8ball"]
	path = demos/h8ball
	url = https://github.com/dustin-demos/h8ball.git
[submodule "demos/roguelike"]
	path = demos/roguelike
	url = https://github.com/dustin-demos/roguelike.git
[submodule "demos/resize"]
	path = demos/resize
	url = https://github.com/dustin-demos/resize.gg.git
[submodule "demos/currency"]
	path = demos/currency
	url = https://github.com/dustin-demos/currency.git
[submodule "demos/state-sync"]
	path = demos/state-sync
	url = https://github.com/dustin-demos/state-sync-demo.git
[submodule "demos/reasonable"]
	path = demos/reasonable
	url = https://github.com/dustin-demos/reasonable.git
