doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pure CSS iOS Chat Bubbles Sass Mixin
    link(rel='stylesheet' href='./style.css')
  body
    .proportional
      .bubble-center
        .bubble
          p The default bubble.
      .bubble-center
        .bubble-1
          p An orange bubble.
      .bubble-center
        .bubble-2
          p A chubby bubble.
      .bubble-center
        .bubble-3
          p A whale of a bubble.
