doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title CSS 3D Toggle Button
    link(rel='stylesheet' href='./style.css')
  body
    .wrap#toggle
      ._layer: .bottom
      ._layer: .base
      ._layer: .stalk
      ._layer: .face
    script(src='./script.js')
