doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Vue.js: Queue Items 2
    link(rel='stylesheet' href='./style.css')
  body
    script(id='check' type='x/template')
      .check(v-on:click="checked = !checked, $emit('checked', { checked: checked, id: id })" v-bind:class="{ '-checked': checked }")
        div
          slot
    script(id='product' type='x/template')
      div
        .grid
          .item.-small(v-for='id in selected')
            check(v-on:checked='select($event)' v-bind:id='id' v-bind:checked='checked(id)') {{ id }}
        .grid
          .item(v-for='id in products')
            check(v-on:checked='select($event)' v-bind:id='id' v-bind:checked='checked(id)') {{ id }}
    script(id='app' type='x/template')
      .app
        product
    #root
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.js')
    script(src='./script.js')
