doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Messenger
    link(rel='stylesheet' href='./style.css')
  body
    section.message
      .center
        .grid-message
          .col-message-received
            .message-received: p Ok.
            .message-received: p Do you play any instruments?
          .col-message-sent
            .message-sent: p Not anymore.
          .col-message-received
            .message-received: p But, can you?
          .col-message-sent
            .message-sent: p I guess if I had some practice I could again. It's been years.
          .col-message-received
            .message-received: p What instruments?
          .col-message-sent
            .message-sent: p Trombone, guitar.
          .col-message-received
            .message-received: p Niiiiice.
          .col-message-sent
            .message-sent: p Do you care if I use the last few minutes of our conversation as dummy text for this thing I'm coding?
          .col-message-received
            .message-received: p Sure go ahead.
          .col-message-sent
            .message-sent: p Okay.
            .message-sent: p I'll send you a link when I'm done.
            .message-sent: p It's cool.
        .message-box: p Write a message.
