$blue-1: dodgerblue;
$blue-2: rgba($blue-1, 0.5);
$blue-3: rgba($blue-1, 0.25);

$red-1: red;
$red-2: rgba($red-1, 0.5);
$red-3: rgba($red-1, 0.25);

$gutter: 0.5em;

$border: 2px solid $blue-1;
$border-dashed: 2px dashed $blue-2;
$border-radius: 0.5em;

* {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  font-family: Gidole, 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: inherit;
}

body {
  font-size: 1vw;
}

.page {
  display: flex;
  flex-flow: column;
  max-width: 75em;
  margin: auto;
  padding: $gutter;
}

.grid {
  display: flex;
  flex-flow: wrap;
  margin: $gutter;
  padding: $gutter;
  border: $border-dashed;
  border-radius: $border-radius * 2;
}

.item {
  width: calc((100% / 4) - #{$gutter * 2});
  margin: $gutter;

  &.-small {
    width: calc((100% / 8) - #{$gutter * 2});
  }
}

.check {
  display: flex;
  border: $border;
  border-radius: $border-radius / 4;
  color: $blue-1;
  font-size: 4em;
  cursor: pointer;

  &::before {
    display: block;
    padding: 0 0 75%;
    content: '';
  }

  > * {
    margin: auto;
  }

  &:hover {
    border-color: $blue-1;
    background: $blue-3;
  }

  &.-checked, &.-thumb {
    color: white;
    background: $blue-2;

    &:hover {
      border-color: $red-1;
      color: white;
      background: $red-2;
    }
  }
}
